<h1><%= @supplier.name %> (book)</h1>

<p>Address: <%= @supplier.address %></p>

<h3>Published the following:</h3>

<ul>
  <% @books.each do |book| %>
  <li><%= book.name %></li>
  <% end %>
</ul>

<a href="/suppliers/<%= @supplier.id %>/edit">Edit</a>

<form action="/suppliers/<%= @supplier.id%>/delete" method="POST">
<input type="submit" value="Delete">
</form>
