<div class="show">
<p>Supplier: <%= @supplier.name %></p>

<p>Address: <%= @supplier.address %></p>

<p>Published the following:</p>

<ul>
  <% @books.each do |book| %>
  <li><%= book.name %></li>
  <% end %>
</ul>


<div class="showbottom">




<form action="/suppliers/<%= @supplier.id%>/delete" method="POST">
<input type="submit" value="Delete">
<button type="button" name="button"><a href="/suppliers/<%= @supplier.id %>/edit">Edit</a></button>
</form>
</div>
</div>
