<div class="show">
  <div class="showhead">

  </div>

<p>Book title: <%= @book.name %> </p>

<p>Description: <%= @book.description %></p>

<p>Published by: <%= @book.supplier.name %></p>

<form action="/books/<%= @book.id%>/delete" method="POST">
<input type="submit" value="Delete">
<button type="button" name="button">
<a href="/books/<%= @book.id %>/edit">Edit</a></button>
</form>
</div>
