<form action="/stock/<% @stock.id%>" method="post">

  <label for = "book_name">Enter Book title:</label>
  <input
  type="text"
  name= "book_name"
  id="book_name"
  value="<%= @stock.book_name%>"/>

  <label for="quantity">Quantity:</label>
    <input
    type="number"
    name="quantity"
    id="quantity"
    value="<%= @stock.quantity%>"/>


  <label for="buy_cost">Buying Cost:</label>
    <input
    type="text"
    name="buying_cost"
    id="buying_cost"
    value="<%= @stock.buying_cost%>"/>


  <label for="selling_cost">Selling Cost:</label>
    <input
    type="text"
    name="selling_cost"
    id="selling_cost"
    value="<%= @stock.selling_price%>"/>



  <label for="book_id">Select Book id: </label>
      <select name= "book_id" id="books_id">
        <% for book in @books %>
          <option value="<%=book.id%>"><%= book.name %></option>
        <% end %>
      </select>


  <label for = "supplier_id">Select Supplier id:</label>
      <select name= "supplier_id" id="suppliers_id">
        <% for supplier in @suppliers %>
          <option value="<%=supplier.id%>"><%= supplier.name %></option>
        <% end %>
      </select>


  <input class="" type='submit' value="Edit">

</form>
