<h1>Stock List</h1>

<table>
  <tr>
    <th>Book name</th>

    <th>Quantity</th>

    <th>Buying Cost</th>

    <th>Selling Price</th>

    <th>Book ID</th>

    <th>Supplier ID</th>
  </tr>
  <% for stock in @stock%>
  <tr>
    <td><a href="/stock/<%= stock.id %>"><%= stock.book_name %></a></td>



      <% if stock.quantity.to_i < 10 %>
        <td><font color=red><%= stock.quantity %></font></td>
      <% else %>
        <td><%= stock.quantity %></td>
      <% end %>


    <td><%= stock.buying_cost %></td>

    <td><%= stock.selling_price %></td>

    <td><%= stock.book_id %></td>
    
    <td><%= stock.supplier_id %></td>


  </tr>
  <% end %>
</table>
